h2 Add a post
form(action="/post", method="POST" id="postForm")
  label Title
  input#postTitle(type="text", name="title")
  br
  label Body:
  textarea#postBox(name="body", form="postForm")
  input(type="submit", style="float:right")
