doctype
html
  head
    title My Blog
    link(rel="stylesheet", href="/blog/main.css")
  body
    header
      a(href="/")
        h1 My Blog
    #content
      #main-content
        block content
      #sidebar
        block sidebar
